{% extends "bases/home_bases.html" %}
{% block content %}
        
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mb-4">
                    <img src="/static/images/hero_1.jpg" alt="Image" style="border-radius: 15%" class="img-fluid">
                    <h2 class="text-black mb-4">nom de l'auteur</h2>
                </div>
                <div class="col-md-9 ml-auto">
                        
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum beatae maxime iure dolores labore? Corporis harum ea fuga voluptatum nulla! Consectetur, sint odit modi maxime harum enim dolores aliquid distinctio ad itaque commodi? Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                    <p class="mb-5">Atque rerum fugiat iste voluptas, magni mollitia, cupiditate corporis perferendis veniam</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}